@media only screen and (min-width : 570px) {

  .home .buttons{
    text-align: center;
  }

  .home .buttons button:first-of-type{
    margin-right: 28px;
  }

  .home .buttons button {
    width: auto;
  }

  .rows > div{
    width: 251px;
    float: left;
    margin-bottom: 10px;
  }

  #History ul li {
    width: 49%;
    display: inline-block;
  }

  .breaking{
    overflow: hidden;
  }

  .breaking .container{
    margin: 0 auto;
    width: 97%;
  }

  .news{
    width: 557px;
    margin: 0 auto;
  }

  .new {
    float: left;
  }

  .new:nth-of-type(odd) {
    margin-right: 28px;
  }

  .princingTable1,
  .princingTable2,
  .princingTable3,
  .princingTable4 {
    width: 50%;
    display: inline-block;
  }

  .princingTable2,
  .princingTable4{
    margin-left: -4px;
  }

  .purchaseButton{
    text-align: center;
  }

  .purchase1 button{
    width: auto;
  }

  .our-team .container{
    width: 558px;
  }

  .our-team{
    overflow: hidden;
  }

  .team{
    display: inline-block;
  }

  .team:nth-of-type(odd){
    margin-left: 20px;
  }

  .LoadMore{
    margin-top: 70px;
  }

  .work_tabs{
    overflow:hidden;
  }

  .work_tabs_cont .rows{
    margin: 0 auto;
    width: 512px;
  }

  .purchaseButton2{
    text-align: left;
    width: 75%;
  }

  .purchaseButton2 button{
    width: auto;
  }

  .pagination{
    margin: 0 auto;
    display: table;
  }

  .pagination li{
    display: table-cell;
    padding-right: 30px;
  }

  .tags-newsletter,
  .flicke-feed{
    width: 50%;
    float: left;
  }

  .flicke-feed{
    margin: 0 0 0 25px;
    width: 45%;
  }

  .flicke-feed > h1,
  .tags > h1,
  .newsletter > h1{
    text-align: left;
  }

  .address-office,
  .address-contact{
    width: 49%;
    display: inline-block;
  }
}

@media only screen and (min-width : 768px) {

  .features section{
    display: inline-block;
    width: 43%;
  }

  .features section:nth-of-type(odd){
    margin-right: 80px;
  }

  .address,.recent-posts{
    float: left;
  }

  .address{
    width: 40%;
    margin-right: 40px;
  }

  .recent-posts{
    width: 50%;
  }

  .address-office,
  .address-contact{
    width: 100%;
  }

  .address h1{
    text-align: left;
  }

  .recent-posts{
    margin-top: 15px;
  }

  .recent p:first-of-type{
  font: 10pt "MontserratLight";
  margin: 10px 0 20px;
  line-height: 24px;
  color: #b2b2b2;
  }


}