*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.line{
  border:1px solid #18cfab;
  border-left:none;
  border-right:none;
  height:5px;
  width:65px;
  margin:0 auto;
  -webkit-transform:skewX(45deg);
  transform:skewX(45deg);
}

header{
  background: #44433e;
  position: relative;
}

header .container{
  padding:28px 0 20px 0;
}

.logo{
  margin-bottom: 35px;
}

.logo .text{
  font: 30pt "MontserratBold";
  color: white;
  width: 55%;
  margin-left: 8px;
  display: inline-block;
}

.logo .text span{
  color: #18cfab;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 54px;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  margin-left: 20px;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background: white;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

/**
* Style 1
*
* Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
* Nothing too fancy, simple transition.
*/
.c-hamburger--rot {
  background: #44433e;
}

.c-hamburger--rot span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.c-hamburger--rot.is-active span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#nav{
  display: none
}

nav ul li{
  display: block;
  width:100%;
  padding: 15px 0 15px 30px;
}

nav ul li a{
  text-decoration: none;
  font: 10pt "MontserratBold";
  color: #b8b8b8;
}

nav ul li:first-of-type{
  border-bottom: 2px solid #18cfab;
};

nav ul li:first-of-type a{
  color: #18cfab;
}

#hexagon {
  background: #18cfab;
  margin-left: 35px;
  position: relative;
  font: 30pt "MontserratBold";
  color: white;
  padding: 0 20px;
  width: 69px;
  display: inline-block;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 34px solid transparent;
  border-bottom: 15px solid #18cfab;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 34px solid transparent;
  border-top: 15px solid #18cfab;
}

.searchIcon{
  margin:10px 30px 0 0;
  position:absolute;
  right:0;
}

.searchInput{
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
}

.search{
  padding: 22px 100px 20px 18px;
  border: none;
  font: 10pt "MontserratRegular";
  background: white;
}

.searchInput input:last-of-type{
  border: 0;
  margin-left: -60px;
  background: #18cfab url(../img/Search-icon-copy.png) no-repeat 50% 50%;
  padding: 17px 25px;
  position: relative;
  top: 1px;
}

.home{
  background: #3c3c3c;
  padding-top: 200px;
  position: relative;
  padding-bottom: 126px;
}

.home .text p{
  color: white;
  text-align: center;
}

.home .text p:first-of-type{
  font: 15pt "MontserratBold";
}

.home .text p:first-of-type span{
  color: #18cfab;
}

.home .text p:nth-of-type(2) {
  font: 40pt "MontserratBold";
  padding: 25px 0;
}

.home .text p:last-of-type{
  font: 20pt "MontserratLight";
  color: #d4d4d4;
  padding-bottom: 140px;
}

.home .buttons{
  margin: 0 auto;
  width: 90%;
}

.home .buttons button{
  border: none;
  border-top: 5px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 23px 33px;
  color: white;
  font: 10pt "MontserratBold";
  background: #18cfab;
  width: 100%;
  margin-bottom: 15px;
}

.home .buttons button:last-of-type{
  background: #00cbf6;
}

.slider {
  clear: both;
  overflow: hidden;
  position: relative;
  height: 107px;
  margin: 30px auto 0 auto;
  width: 170px;
  position: relative;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.slide {
  float: left;
  list-style: none;
  width: 170px;
  height: 107px;
}

.switch{
  margin:20px auto 0 auto;
  width:170px;
  position:relative;
}

#prev_slide, #next_slide {
  padding: 22px 25px;;
}

#prev_slide {
  background:  #3c4140 url(../img/PrevSlideHome.png) no-repeat 50% 50%;
  position:  absolute;
  left:  0;
}

#next_slide {
  background: #18cfab url(../img/NextSlideHome.png) no-repeat 50% 50%;
  position: absolute;
  right: 0;
}

/* Test images */
.slide:first-of-type{
  background: url(../img/1.jpg);
}

.slide:nth-of-type(2) {
  background: url(../img/2.jpg);
}

.slide:last-of-type{
  background: url(../img/3.jpg);
}

.options div{
  width:100%;
  position:relative;
  height:375px;
}

.options div:nth-of-type(odd){
  border-top: 8px solid #18cfab;
  color: #18cfab;
}

.options div:nth-of-type(even){
  border-top: 8px solid white;
  color: white;
}

.options div:first-of-type,
.options div:nth-of-type(3){
  background: #1c2a33;
}

.options div:nth-of-type(2),
.options div:last-of-type{
  background: #18cfab;
}

.options div:first-of-type .image{
  background: url(../img/option1.png) no-repeat 50% 50%;
  height:238px;
}

.options div:nth-of-type(2) .image{
  background: url(../img/option2.png) no-repeat 50% 50%;
  height:238px;
}

.options div:nth-of-type(3) .image{
  background: url(../img/option3.png) no-repeat 50% 50%;
  height:238px;
}

.options div:last-of-type .image{
  background: url(../img/option4.png) no-repeat 50% 50%;
  height:238px;
}

.options div p{
  font:17pt "MontserratBold";
  text-align: center;
}

.features{
  padding-bottom: 95px;
}

.features h1{
  text-align: center;
  color: #4e4e4e;
  display: block;
  margin: 105px 0 38px;
  font:30pt "MontserratRegular";
}

.features section{
  width:90%;
  margin:70px auto 0 auto;
}

.features section h2{
  color: #717171;
  font:15pt "MontserratBold";
  display: flex;
}

.features section h2:hover{
  color: #18cfab;
}

.features section h2 img{
  margin-right:22px;
}

.features section p{
  color: #777777;
  font: 10pt "MontserratLight";
  line-height: 20px;
  margin-top: 20px;
}

.company{
  padding-top: 179px;
  background:#090f14;
}

.company > img {
  width: 100%;
}

.company h1{
  text-align: center;
  color: white;
  font: 30pt "MontserratRegular";
  display: block;
  margin: 100px 0 35px;
}

.company_tabs{
  margin: 70px 0 0 20px;
}

.company_tabs label{
  color: white;
  font: 13pt "MontserratBold";
  cursor: pointer;
  padding-bottom: 25px;
  display: block;
}

.company_tabs input {
  position: absolute;
  left: -9999px;
}

#company_tab1:checked  ~ #company_tab_1,
#company_tab2:checked  ~ #company_tab_2,
#company_tab3:checked  ~ #company_tab_3 {
  top: 0;
  color: #18cfab;
  border-top: 3px solid #18cfab;
}

.company_tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#company_tab1:checked ~ .company_tabs_cont #History,
#company_tab2:checked ~ .company_tabs_cont #Biography,
#company_tab3:checked ~ .company_tabs_cont #Skills{
  position: static;
  left: 0;
  opacity: 1;
}

#History,#Biography,#Skills{
  margin-top: 60px;
}

#History{
  padding-bottom: 70px;
}

#History p{
  color: #bebebe;
  font: 10pt "MontserratLight";
  display:block;
  line-height: 20px;
  margin-bottom: 35px
}

#History ul li{
  list-style: none;
  display: block;
  padding-bottom: 20px;
}

#History ul li a{
  text-decoration: none;
  color: #bebebe;
  font: 10pt "MontserratLight";
}

#History ul li img{
  margin-right: 20px;
  margin-bottom: 0;
  position: relative;
  top: 5px;;
}

#Biography{
  padding:0 20px 20px 0;
}

#Biography p{
  color: #bebebe;
  font: 10pt "MontserratLight";
  line-height: 20px;
}

#Biography p:last-of-type{
  display: block;
  margin-top: 40px;
}

#Skills{
  padding-bottom: 100px;
}

.progress-bar {
  height: 40px;
  width: 90%;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar span {
  display: inline-block;
  font: 10pt "MontserratRegular";
  padding: 12px 0 12px 18px;
  color: white;;
}

.purple span,
.blue span,
.pink span,
.green span,
.orange span{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: -1px 0 0 -1px;
}

.purple span {
  background: #9c5da5;
  width: 70%;
}

.blue span {
  background: #11b0de;
  width: 80%;
}

.pink span {
  background: #d67f7f;
  width: 60%;
}

.green span {
  background: #20bc9d;
  width: 90%;
}

.orange span {
  background: #bb8a36;
  width: 80%;
}

.work{
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
  background: #f8fcfe;
}

.work > h1{
  text-align: center;
  font: 30pt "MontserratRegular";
  color: #4e4e4e;
  display: block;
  margin: 100px 0 28px 0;
}

.work_tabs{
  margin: 70px auto 0 20px;
  width: 90%;
}

.work_tabs label{
  color: #979797;
  font: 13pt "MontserratBold";
  cursor: pointer;
  border: 1px solid #ebebeb;
  width: 100%;
  display: block;
  padding: 15px 0;
  text-align: center;
}

.work_tabs input {
  position: absolute;
  left: -9999px;
}

#work_tab1:checked  ~ #work_tab_1,
#work_tab2:checked  ~ #work_tab_2,
#work_tab3:checked  ~ #work_tab_3,
#work_tab4:checked  ~ #work_tab_4,
#work_tab5:checked  ~ #work_tab_5 {
  top: 0;
  color: #18cfab;
  border-top: 3px solid #18cfab;
}

.work_tabs_cont{
  margin: 68px 0 70px;
}

.work_tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#work_tab1:checked ~ .work_tabs_cont #WorkAll,
#work_tab2:checked ~ .work_tabs_cont #WorkGraphicDesign,
#work_tab3:checked ~ .work_tabs_cont #WorkWebDesign,
#work_tab4:checked ~ .work_tabs_cont #WorkLadingPages,
#work_tab5:checked ~ .work_tabs_cont #WorkWordpress{
  position: static;
  left: 0;
  opacity: 1;
}

.work_tabs_cont{
  margin-top: 70px;
}

.rows > div{
  height: 210px;
  width: 285px;
}

.rows h1{
  color: #18cfab;
  font: 11pt "MontserratBold";
  text-align: center;
  display: none;
}

.rows p{
  text-align: center;
  font: 9pt "MontserratLight";
  color: #8a8a8a;
  margin-top: 15px;
  display: none;
}

.rows > div:nth-of-type(odd){
  background: #8a8a8a;
}

.rows > div:nth-of-type(even){
  background: #24413e;
}

.rows > div:hover{
  background: white;
  border:1px solid #ebebeb;
  border-top: 3px solid #18cfab;
}

.rows > div:hover h1,
.rows > div:hover .images,
.rows > div:hover p{
  display: block;
}

.images{
  text-align: center;
  margin: 43px 0 33px;
  display: none;
}

.images div{
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;;
}

.images div:first-of-type{
  background:url(../img/DesignSearch.png) no-repeat 50%;
  border: 1px solid #18cfab;
}

.images div:last-of-type{
  background: #18cfab url(../img/Design1.png) no-repeat 50%;
}

.LoadMore{
  width: 50%;
  margin: 0 auto 100px;
}

.LoadMore button{
  background:#18cfab;
  color: white;
  border: none;
  padding: 20px;
  font:11pt "MontserratBold";
}

.LoadMore button img{
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.services > h1{
  text-align: center;
  font: 30pt "MontserratRegular";
  color: #4e4e4e;
  display: block;
  margin: 100px 0 28px 0;
}

.service_tabs{
  margin: 70px auto 0 20px;
  width: 90%;
}

.service_tabs label{
  color: #717171;
  font: 13pt "MontserratRegular";
  cursor: pointer;
  border: 1px solid #ebebeb;
  width: 100%;
  display: block;
  padding: 15px 0;
  text-align: center;
  background: #f8fcfe;
}

.service_tabs input {
  position: absolute;
  left: -9999px;
}

#service_tab1:checked  ~ #service_tab_1,
#service_tab2:checked  ~ #service_tab_2,
#service_tab3:checked  ~ #service_tab_3,
#service_tab4:checked  ~ #service_tab_4,
#service_tab5:checked  ~ #service_tab_5,
#service_tab6:checked  ~ #service_tab_6 {
  top: 0;
  color: white;
  background: #18cfab;
}

.service_tabs_cont{
  margin: 25px 0 100px;
}

.service_tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#service_tab1:checked ~ .service_tabs_cont #serviceWebDesign,
#service_tab2:checked ~ .service_tabs_cont #serviceGraphicDesign,
#service_tab3:checked ~ .service_tabs_cont #serviceOnlineSupport,
#service_tab4:checked ~ .service_tabs_cont #serviceAppPages,
#service_tab5:checked ~ .service_tabs_cont #serviceOnlineMarketing,
#service_tab6:checked ~ .service_tabs_cont #serviceSeoService{
  position: static;
  left: 0;
  opacity: 1;
}

.service_tabs_cont .content{
  font: 11pt "MontserratLight";
  color: #777777;
  line-height: 22px;
  margin-top: 22px;
}

.service_tabs_cont .image{
  background: #797979;
  height: 139px;
  width: 192px;
}